<div class="card">
  <div class="parent">
    <img class="image" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
   <!-- <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path attr.fill="{{color}}" fill-opacity="1" d="M0,32L120,58.7C240,85,480,139,720,165.3C960,192,1200,192,1320,192L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
-->  </div>
    <h4><b>{{title}}</b></h4>
    <p>{{description}}</p>
</div>
